@using Charltone.UI.ViewModels.Photos
@model PhotosEditViewModel
           
@{
    ViewBag.Title = "Charltone Photo Management";
}

<!-- THIS CODE IS DUPLICATED IN INSTRUMENT DETAIL VIEW -->
<script type="text/javascript">
    $(document).ready(function ()
    {
        var photoIds = @Html.Raw(Json.Encode(Model.PhotoIds));

        $(photoIds).each(function (index, value) {
            $("#lnk-show-image_" + value).click(function () {
                showImage(value);
            });
        });

        function showImage(photoId) {
            var url = '@Url.Action("GetPhotoJson", "Photo")';

            $.getJSON(url, { "id": photoId },
                function (data) {
                    $("#currentphoto").attr('src', 'data:image/jpg;base64,' + data + '');
                });
        }
    });
</script>

<div id="editphotos">
    <div id="editphotoscontent">
        <div class="editlink" id ="editphotoslinks">
            @Html.ActionLink("Main List", "Index", "Instrument")
            &nbsp
            @Html.ActionLink("Instrument Detail", "Edit/" + @Model.ProductId, "Instrument")
        </div>

        <div id="editphotosheader">
            <div id="editphotosmodel">Manage photos for model</div>
            <div id="editphotosmodeldesc">@Model.Model</div>
        </div>
        <div class="linehorizontal" id="editphotoslinehorizontal"></div>
        <div id="editphotosdetail">
            @using (Html.BeginForm("UploadPhoto/" + @Model.ProductId, "Photo", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                <div id="editphotosupload">
                    <div id="uploadaphoto">Upload a photo</div>
                    <input type="file" name="file" id="file" />
                    <input type="submit" value="Upload"/>
                </div>
            }

            @using (Html.BeginForm("Index/" + @Model.ProductId, "Photo"))
            {
                <div id="editphotosdefault">
                    <img class="mainphoto" id="currentphoto" src=@Url.Action("GetPhoto", "Photo", new { id = Model.DefaultPhotoId }) alt='' />
                </div>
    
                <div id="editphotosmanage">
                    <fieldset class="fieldset">
                    <legend class="legend">Manage</legend>

                        @foreach (var photoId in Model.PhotoIds)
                        {
                            var @lnkImageid = "lnk-show-image_" + photoId;
                            
                            <div id="editphotosthumbnail">
                                <a id=@lnkImageid href="javascript:;">
                                    <img class="thumbnail" id="editphotosdefaultthumbnail" src=@Url.Action("GetPhoto", "Photo", new { id = photoId }) alt='' />
                                </a>

                                    @if (photoId != Model.DefaultPhotoId)
                                    {
                                        <div>
                                            @{
                                                var defaultName = "SetDefault_" + photoId;
                                                <input type="submit" name=@defaultName value="Default" />
                                                var deleteName = "Delete_" + photoId;
                                                <input type="submit" name=@deleteName value="Delete" />
                                            }
                                        </div>
                                    }
                        </div>                                                        
                        }
                    </fieldset> 
                </div>
            }
        </div>
    </div>
</div>