@using Charltone.ViewModels.Photos
@using Microsoft.Web.Helpers

@model PhotosEditViewModel
           
@{
    ViewBag.Title = "Photo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="editphotos">
    <div id="editphotoscontent">
        <div class="editlink" id ="editphotoslinks">
            @Html.ActionLink("Main List", "Index", "Instrument")
            &nbsp
            @Html.ActionLink("Instrument Detail", "Edit/" + @Model.ProductId, "Instrument")
        </div>

        <div id="editphotosheader">
            <div id="editphotosmodel">Manage photos for model</div>
            <div id="editphotosmodeldesc">@Model.Model</div>
        </div>
        <div class="linehorizontal" id="editphotoslinehorizontal"></div>
        <div id="editphotosdetail">
            @using (Html.BeginForm("UploadPhoto/" + @Model.ProductId, "Photo", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                <div id="editphotosupload">
                    <div id="uploadaphoto">Upload a photo</div>
                    <input type="file" name="file" id="file" />
                    <input type="submit" value="Upload"/>
                </div>
            }

            @using (Html.BeginForm("Index/" + @Model.ProductId, "Photo"))
            {
                <div id="editphotosdefault">
                    <img class="mainphoto" id="mainphoto" src=@Url.Action("GetPhoto", "Instrument", new { id = Model.DefaultPhotoId }) alt=''/>
                </div>
    
                <div id="editphotosmanage">
                    <fieldset class="fieldset">
                    <legend class="legend">Manage</legend>
                    @if (@Model.Photos.Count > 0)
                    {
                        <a href="javascript:showPic(@Model.DefaultPhotoId);"> 
                            <img class="thumbnail" id="editphotosdefaultthumbnail" src=@Url.Action("GetPhoto", "Photo", new { id = Model.DefaultPhotoId }) alt=''/>
                        </a>
                    }
                        @foreach (var p in Model.Photos)
                        {            
                            <div id="editphotosthumbnail">
                                @if (p.IsDefault == false)
                                {
                                    <a href="javascript:showPic(@p.Id);"> <img class="thumbnail" src=@Url.Action("GetPhoto", "Photo", new { id = p.Id }) alt=''/></a>
                                    <div>
                                        @{
                                            var name1 = "SetDefault_" + @p.Id;     
                                            <input type="submit" name=@name1 value="Default"/>
                                            var name2 = "Delete_" + @p.Id;                                                                     
                                            <input type="submit" name=@name2 value="Delete"/>
                                         }
                                    </div> 
                                }
                            </div>                                                        
                        }
                    </fieldset> 
                </div>
            }
        </div>
    </div>
</div>