@model Charltone.UI.ViewModels.Home.HomeEditViewModel

@{
    ViewBag.Title = "Edit Home Content";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="homeedit">
    <div id="homeeditcontent">
        @using (Html.BeginForm())
        {
            <div id="homeeditcontainer">
                @Html.ValidationSummary(true)
                <div id="homeeditinfo">
                    <div id="homeeditbuttons">
                        <input class="savebutton" type="submit" value="Save" name="Command" />
                        &nbsp
                        @Html.ActionLink("Cancel", "Index", "Home")
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Introduction)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.Introduction)
                        <div>
                            @Html.ValidationMessageFor(model => model.Introduction)
                        </div>
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Greeting)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.Greeting)
                        <div>
                            @Html.ValidationMessageFor(model => model.Greeting)
                        </div>
                    </div>
                </div>
            </div>
        }
        <div id="homeeditimage">
            <img src='~/Content/images/homepage.jpg' alt='' />
        </div>
    </div>
</div>