@using Charltone.ViewModels.Instruments;
@using Charltone.ViewModels.Helpers;

@model InstrumentListViewModel<InstrumentInfo>

@{
    ViewBag.Title = "Charltone Instruments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div id="instrlistview" style="height: @Model.BackgroundImageHeight">
    <div id="instrlistviewcontent">
        <div id="instrlistheader">
            @Model.Banner
        </div>
        <div class="linehorizontal" id="instrlistlinehorizontal"></div>
            <div class="editlink" id="listaddnew">
                @Html.ActionLinkAuthorized("Add", "Create")
            </div>
        @{
            int i = 0;
            string id_class_wrapper = "";
            string id_class = "";

            foreach (var info in Model.InstrumentInfo)
            {
                switch (i++ % 3)
                {
                    case 0:
                        id_class_wrapper = "left_wrapper";
                        id_class = "left";
                        break;
                    case 1:
                        id_class_wrapper = "middle_wrapper";
                        id_class = "middle";
                        break;
                    case 2:
                        id_class_wrapper = "right_wrapper";
                        id_class = "right";
                        break;
                }
                <div id="listdetail">
                    <div class=@id_class_wrapper>
                        <div class=@id_class>
                            <img id="listdefaultphoto" src=@Url.Action("GetPhoto", "Photo", new { id = info.DefaultPhotoId }) alt="" />
                            <div class="listinfomodel">
                                @info.Model
                                <label id="listinfopostedmessage">
                                    @info.NotPostedMessage
                                </label>
                            </div>
                            <div class="listinfodetail">
                                @info.Classification / @info.SubClassification
                            </div>
                            <div class="viewdetailslink">
                                @Html.ActionLink("View Details", "Detail", new { id = info.Id })
                                @Html.ActionLinkAuthorized("Edit", "Edit", new { id = info.Id })
                                @Html.ActionLinkAuthorized("Delete", "Delete", new { id = info.Id })
                                @if (@Request.IsAuthenticated)
                                { @Html.ActionLink("Photos", "Index", "Photo/Index/" + info.Id) }
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
            }
        }
    </div>
</div>


