@model Charltone.UI.ViewModels.Ordering.OrderingEditViewModel

@{
    ViewBag.Title = "Create Ordering";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        ordering.edit.init({ orderingId: parseInt(@Model.Id) });
    });
</script>

@using (Html.BeginForm())
{
    <div id="orderingredit">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3>Create a new Ordering</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div>
                        <button class="btn btn-primary" type="submit">Save</button>
                        <button class="btn btn-default" type="button" onclick="location.href='@Url.Action("Index", "Ordering")'">Cancel</button>
                    </div>
                    <div>
                        @Html.LabelFor(model => model.InstrumentTypes, new { @class = "label label-default" })
                        @Html.DropDownListFor(x => x.InstrumentTypeId, Model.InstrumentTypes, new { @class = "form-control" })
                    </div>
                    <div>
                        @Html.Label("Model", new { @class = "label label-default" })
                        @Html.TextBoxFor(model => model.Model, new { @class = "form-control", required = "required" })
                    </div>
                    <div>
                        @Html.LabelFor(model => model.ClassificationTypes, new { @class = "label label-default" })
                        @Html.DropDownListFor(x => x.ClassificationId, Model.ClassificationTypes, new { @class = "form-control" })
                    </div>
                    <div>
                        @Html.LabelFor(model => model.SubClassificationTypes, new { @class = "label label-default" })
                        @Html.DropDownListFor(x => x.SubClassificationId, Model.SubClassificationTypes, new { @class = "form-control" })
                    </div>
                    <div>
                        @Html.LabelFor(model => model.TypicalPrice, new { @class = "label label-default" })
                        @Html.TextAreaFor(model => model.TypicalPrice, new { @class = "form-control", required = "required" })
                    </div>
                    <div>
                        @Html.LabelFor(model => model.Comments, new { @class = "label label-default" })
                        @Html.TextAreaFor(model => model.Comments, new { @class = "form-control", required = "required" })
                    </div>
                </div>
                <div class="col-md-4">
                    <img class="img-rounded" id="orderingeditphoto" alt="" />
                </div>
            </div>
        </div>
    </div>
}