@model Charltone.UI.ViewModels.Ordering.OrderingEditViewModel

@{
    ViewBag.Title = "Create Ordering";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function() {
        ordering.edit.init({ orderingId: parseInt(@Model.Id) });
    });
</script>

<div id="orderingedit">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div id="orderingeditcontainer">
            <div id="orderingeditinfo">
                <div id="orderingeditphotocontainer">
                    <img id="orderingeditphoto" alt="" />
                </div>
                <div id="orderingeditbuttons">
                    <button class="btn btn-primary" type="submit">Save</button>
                    <button class="btn btn-default" type="button" onclick="location.href='@Url.Action("Index", "Ordering")'">Cancel</button>
                </div>
                <div class="label label-default">
                    @Html.LabelFor(model => model.InstrumentTypes)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(x => x.InstrumentTypeId, Model.InstrumentTypes)
                </div>
                <div class="label label-default">
                    @Html.LabelFor(model => model.Model)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Model)
                    @Html.ValidationMessageFor(model => model.Model)
                </div>
                <div class="label label-default">
                    @Html.LabelFor(model => model.ClassificationTypes)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(x => x.ClassificationId, Model.ClassificationTypes)
                </div>
                <div class="label label-default">
                    @Html.LabelFor(model => model.SubClassificationTypes)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(x => x.SubClassificationId, Model.SubClassificationTypes)
                </div>
                <div class="label label-default">
                    @Html.LabelFor(model => model.TypicalPrice)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.TypicalPrice)
                    <div>
                        @Html.ValidationMessageFor(model => model.TypicalPrice)
                    </div>
                </div>
                <div class="label label-default">
                    @Html.LabelFor(model => model.Comments)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Comments)
                    <div>
                        @Html.ValidationMessageFor(model => model.Comments)
                    </div>
                </div>
            </div>
        </div>
    }
</div>