@model Charltone.UI.ViewModels.Ordering.OrderingEditViewModel

@{
    ViewBag.Title = "Delete Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function() {
        ordering.edit.init({ orderingId: parseInt(@Model.Id) });
    });
</script>

<div id="orderingedit">
    @using (Html.BeginForm())
    {
        <div id="orderingeditcontainer">
            <div id="deleteconfirm">
                Delete ordering for model @Model.Model?
            </div>
            
            <div id="orderinfeditinfo">
                <div id="orderingeditphotocontainer">
                    <img id="orderingeditphoto" alt="" />
                </div>
                <div id="orderingeditbuttons">
                    <input class="savebutton" type="submit" value="Delete" name="Command" />
                    &nbsp
                    @Html.ActionLink("Cancel", "Edit", "Ordering")
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.InstrumentTypes)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(x => x.InstrumentTypeId, Model.InstrumentTypes, new { @disabled = true })
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Model)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Model, new { @disabled = true })
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.ClassificationTypes)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(x => x.ClassificationId, Model.ClassificationTypes, new { @disabled = true })
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.SubClassificationTypes)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(x => x.SubClassificationId, Model.SubClassificationTypes, new { @disabled = true })
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.TypicalPrice)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.TypicalPrice, new { @disabled = true })
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Comments)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Comments, new { @disabled = true })
                </div>
            </div>
        </div>
    }

</div>