@model Charltone.UI.ViewModels.Ordering.OrderingHeaderEditViewModel

@{
    ViewBag.Title = "Edit Ordering Header Content";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="orderingeditheader">
    @using (Html.BeginForm())
    {
        <div id="orderingeditcontainer">
            @Html.ValidationSummary(true)
            <div id="orderingeditinfo">
                <div id="orderingeditbuttons">
                    <button class="btn btn-primary" type="submit">Save</button>
                    <button class="btn btn-default" type="button" onclick="location.href='@Url.Action("Index", "Ordering")'">Cancel</button>
                </div>
                <div class="label label-default">
                    @Html.LabelFor(model => model.Summary)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Summary)
                    <div>
                        @Html.ValidationMessageFor(model => model.Summary)
                    </div>
                </div>
                <div class="label label-default">
                    @Html.LabelFor(model => model.Pricing)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Pricing)
                    <div>
                        @Html.ValidationMessageFor(model => model.Pricing)
                    </div>
                </div>
                <div class="label label-default">
                    @Html.LabelFor(model => model.PaymentOptions)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.PaymentOptions)
                    <div>
                        @Html.ValidationMessageFor(model => model.PaymentOptions)
                    </div>
                </div>
                <div class="label label-default">
                    @Html.LabelFor(model => model.PaymentPolicy)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.PaymentPolicy)
                    <div>
                        @Html.ValidationMessageFor(model => model.PaymentPolicy)
                    </div>
                </div>
                <div class="label label-default">
                    @Html.LabelFor(model => model.Shipping)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Shipping)
                    <div>
                        @Html.ValidationMessageFor(model => model.Shipping)
                    </div>
                </div>
            </div>
        </div>
    }

</div>