@model Charltone.UI.ViewModels.Ordering.OrderingEditViewModel
@using Charltone.UI.Helpers;

@{
    ViewBag.Title = "Edit Ordering";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function() {
        ordering.edit.init(
        {
            orderingId: parseInt(@Model.Id),
            maxImageWidth: parseInt(@Model.MaxImageWidth),
            maxImageHeight: parseInt(@Model.MaxImageHeight)
        });
    });
</script>

<div id="orderingedit">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div id="orderingeditcontainer">
            <div id="orderingphotoheader">
                <div id="orderingphotomodel">Edit Ordering for model</div>
                <div id="orderingphotomodeldesc">@Model.Model</div>
            </div>
            <div id="orderingeditphotocontainer">
                <img id="orderingeditphoto" src=@Url.Action("GetPhoto", "Ordering", new { id = Model.Id }) alt="" />
            </div>
            <div id="orderingeditinfo">
                <div id="orderingeditbuttons">
                    <input class="savebutton" type="submit" value="Save" name="Command" />
                    &nbsp
                    @Html.ActionLinkAuthorized("Delete", "Delete", new { id = Model.Id })
                    &nbsp
                    @Html.ActionLink("Main List", "Index", "Ordering")
                </div>
                <div class="editor-label">
                    Photo
                </div>
                <div class="editor-field">
                    <input id="fileupload" type="file" name="files[]" data-url="Upload">
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.InstrumentTypes)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(x => x.InstrumentTypeId, Model.InstrumentTypes)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Model)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Model)
                    @Html.ValidationMessageFor(model => model.Model)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.ClassificationTypes)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(x => x.ClassificationId, Model.ClassificationTypes)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.SubClassificationTypes)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(x => x.SubClassificationId, Model.SubClassificationTypes)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.TypicalPrice)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.TypicalPrice)
                </div>
                <div>
                    @Html.ValidationMessageFor(model => model.TypicalPrice)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Comments)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Comments)
                    @Html.ValidationMessageFor(model => model.Comments)
                </div>
            </div>
        </div>
    }

</div>