@using Charltone.UI.ViewModels.Ordering;
@using Charltone.UI.Helpers;

@model OrderingListViewModel
@{
    ViewBag.Title = "Charltone Ordering";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#orderinglistheader").accordion();
        position.set();
    });

</script>

<div id="orderinglist">
    <div id="orderinglistcontent">
        <div class="editlink" id="orderingheadereditlnk">
            @Html.ActionLinkAuthorized("Add", "Create")
            &nbsp
            @Html.ActionLinkAuthorized("Edit", "EditHeader")
        </div>
        <div id="orderinglistheader">
            <h3>Ordering</h3>
            <div>
                @Model.HeaderInfo.Summary
            </div>
            <h3>Pricing</h3>
            <div>
                @Model.HeaderInfo.Pricing
            </div>
            <h3>Payment Options</h3>
            <div>
                @Model.HeaderInfo.PaymentOptions
            </div>
            <h3>Payment Policy</h3>
            <div>
                @Model.HeaderInfo.PaymentPolicy
            </div>
            <h3>Shipping</h3>
            <div>
                @Model.HeaderInfo.Shipping
            </div>
        </div>

        <div class="linehorizontal" id="orderingtop"></div>

        @{
            foreach (var orderingInfo in Model.OrderingInfo)
            {
                <table class="orderingitemtable">
                    <tr>
                        <td rowspan="5" id="orderingtablecellphoto">
                            <img id="orderingphoto" src=@Url.Action("GetThumbnail", "Ordering", new { id = orderingInfo.Id }) alt="" />
                        </td>
                        <td class="orderingtablecelllabel">
                            Model:
                        </td>
                        <td class="orderingtablecell">
                            @orderingInfo.Model
                        </td>
                    </tr>
                    <tr>
                        <td class="orderingtablecelllabel">
                            Style:
                        </td>
                        <td class="orderingtablecell">
                            @orderingInfo.Style
                        </td>
                    </tr>
                    <tr>
                        <td class="orderingtablecelllabel">
                            Typical Price:
                        </td>
                        <td class="orderingtablecell">
                            @orderingInfo.TypicalPrice
                        </td>
                    </tr>
                    <tr>
                        <td class="orderingtablecelllabel">
                            Description:
                        </td>
                        <td class="orderingtablecell">
                            @orderingInfo.Comments
                        </td>
                    </tr>
                    <tr>
                        <td class="orderingtablecelllink">
                            @Html.ActionLinkAuthorized("Edit", "Edit", new { id = orderingInfo.Id })
                            @Html.ActionLinkAuthorized("Delete", "Delete", new { id = orderingInfo.Id })
                        </td>
                    </tr>
                </table>

                <div class="linehorizontal" id="ordering"></div>
            }
        }
    </div>
</div>


