@using Charltone.UI.ViewModels.Ordering
@model OrderingPhotoEditViewModel

@{
    ViewBag.Title = "Charltone Photo Management";
}
<script type="text/javascript">
    $(document).ready(function () {
        file.enableUpload();
    });
</script>

<div id="editorderingphoto">
    <div id="editorderingphotocontent">
        @Html.ValidationSummary(true)
        <div class="editlink" id="editphotolinks">
            @Html.ActionLink("Edit", "Edit", new { id = @Model.OrderingId })
            &nbsp
            @Html.ActionLink("Main List", "Index", "Ordering")
        </div>

        <div id="editorderingphotoheader">
            <div id="editorderingphotomodel">Ordering photo for model</div>
            <div id="editorderingphotomodeldesc">@Model.Model</div>
        </div>

        <div id="editorderingphotodetail">
            @using (Html.BeginForm(@Model.OrderingId + "/Photo", "Ordering", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                <div id="editorderingphotoupload">
                    <label for="File">Photo:</label>
                    <input type="file" class="fileinput" name="File" />
                    <input type="submit" value="Upload" disabled="disabled" />
                    @Html.ValidationMessageFor(model => model.File)
                </div>
            }

            @using (Html.BeginForm(Model.OrderingId + "/Photo", "Ordering"))
            {
                <div id="editorderingphotodefault">
                    <img class="mainphoto" id="currentphoto" src=@Url.Action("GetPhoto", "Ordering", new { id = Model.OrderingId }) alt='' />
                </div>
            }
        </div>
    </div>
</div>