@using System.Web.Optimization
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>@ViewBag.Title</title>

        <link href="@Url.Content("~/Content/favicon.png")" rel="icon" type="image/png" />
        <!--[if IE]>
        <link href="@Url.Content("~/Content/favicon.ico")" rel="shortcut icon" type="image/vnd.microsoft.icon" />
        <![endif]-->

        @Styles.Render("~/bundles/less")
        @Styles.Render("~/bundles/jquery-ui/css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/fileupload")
        @Scripts.Render("~/bundles/charltone")
    </head>

    <body>
        <div class="page">
            <div id="menubackground">
                <div id="logo">
                    @if (!Request.IsAuthenticated)
                    {
                        <a id="lnk-admin-login" href="javascript:;" onclick="admin.login.displayAdminLoginDialog()">.</a>
                    }
                </div>
                <div id="menucontainer">
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About Us", "Index", "About")</li>
                        <li>@Html.ActionLink("Instruments", "Index", "Instrument")</li>
                        <li>@Html.ActionLink("Ordering", "Index", "Ordering")</li>

                        @if (Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Log Off", "LogOff", "Admin")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                        }
                    </ul>
                </div>
            </div>
            <div id="main">
                @RenderBody()
            </div>
        </div>
        <div id="error"></div>
    </body>
</html>
