@using System.Web.Optimization
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>@ViewBag.Title</title>

        <link href="@Url.Content("~/Content/favicon.png")" rel="icon" type="image/png" />
        <!--[if IE]>
        <link href="@Url.Content("~/Content/favicon.ico")" rel="shortcut icon" type="image/vnd.microsoft.icon" />
        <![endif]-->
        
        @Styles.Render("~/bundles/CommonStyles")
        @Scripts.Render("~/bundles/Modernizr")
        @Scripts.Render("~/bundles/Jquery")
        @Scripts.Render("~/bundles/CommonScripts")
        @Scripts.Render("~/bundles/CustomScripts")
    </head>

<body>
    <div class="page">
        <div id="menubackground">
            <div id="logo">
                <a id="lnk-admin-login" href='javascript:admin.login.init( { isAuthenticated: @Request.IsAuthenticated.ToString().ToLower() })' >.</a>
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About Us", "Index", "About")</li>
                    <li>@Html.ActionLink("Instruments", "Index", "Instrument")</li>
                    <li>@Html.ActionLink("Ordering", "Index", "Ordering")</li>
                    <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                </ul>
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
    </div>
    <div id="error"></div>
</body>

</html>
