@model Charltone.UI.ViewModels.About.AboutViewModel

@{
    ViewBag.Title = "Edit About Content";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="aboutedit">
    @using (Html.BeginForm())
    {
        <div id="abouteditcontainer">
            @Html.ValidationSummary(true)
            <div id="abouteditinfo">
                <div id="abouteditbuttons">
                    <button class="btn btn-primary" type="submit">Save</button>
                    <button class="btn btn-default" type="button" onclick="location.href='@Url.Action("Index", "About")'">Cancel</button>
                </div>
                <div class="label label-default">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Name)
                    <div>
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>
                <div class="label label-default">
                    @Html.LabelFor(model => model.CompanyName)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.CompanyName)
                    <div>
                        @Html.ValidationMessageFor(model => model.CompanyName)
                    </div>
                </div>
                <div class="label label-default">
                    @Html.LabelFor(model => model.Origins)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Origins)
                    <div>
                        @Html.ValidationMessageFor(model => model.Origins)
                    </div>
                </div>
                <div class="label label-default">
                    @Html.LabelFor(model => model.Materials)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Materials)
                    <div>
                        @Html.ValidationMessageFor(model => model.Materials)
                    </div>
                </div>
            </div>
        </div>
    }

</div>