@using Charltone.UI.ViewModels.About;

@model AboutViewModel
@{
    ViewBag.Title = "Charltone About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="about">
    <div class="container-fluid">
        @if (Request.IsAuthenticated)
        {
            <div class="row">
                <div class="col-sm-12">
                    <span class="pull-right"><button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Edit", "About")'">Edit Text</button></span>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-sm-12">
                <h3>The Name</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>@Model.Name</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>The Company Name</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>@Model.CompanyName</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>Origins</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>@Model.Origins</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>Materials</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>@Model.Materials</p>
            </div>
        </div>
    </div>
</div>
