@using Charltone.UI.ViewModels.About;

@model AboutViewModel
@{
    ViewBag.Title = "Charltone About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="aboutpage">
    <div id="abouteditlnk">
        @if (Request.IsAuthenticated)
        {
            <button class="btn btn-primary btn-sm" type="button" onclick="location.href='@Url.Action("Edit", "About")'">Edit Text</button>
        }
    </div>

    <div id="about">
        <div class="linehorizontal" id="about"></div>
        <div class="aboutfield">
            The Name
        </div>
        <br />
        <div class="aboutfieldcontent">
            @Model.Name
        </div>
        <br />
        <br />
        <div class="aboutfield">
            The Company Name
        </div>
        <br />
        <div class="aboutfieldcontent">
            @Model.CompanyName
        </div>
        <br />
        <br />
        <div class="aboutfield">
            Origins
        </div>
        <br />
        <div class="aboutfieldcontent">
            @Model.Origins
        </div>
        <br />
        <br />
        <div class="aboutfield">
            Materials
        </div>
        <br />
        <div class="aboutfieldcontent">
            @Model.Materials
        </div>
        <div class="linehorizontal" id="about"></div>
    </div>
</div>
