@using Charltone.UI.ViewModels.Instrument;
@using Charltone.UI.Helpers;

@model InstrumentListViewModel

@{
    ViewBag.Title = "Charltone Instruments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        index.init();
        position.set();
    });
</script>

<div id="instrlist">
    <div id="instrlistcontent">
        <div id="instrlistheader">
            @Model.Banner
        </div>
        <div class="editlink" id="instrlistaddnew">
            @Html.ActionLinkAuthorized("Add Instrument", "Create")
        </div>
        <div class="linehorizontal" id="instrlistlinehorizontal"></div>
        @{
            foreach (var inst in Model.Instruments)
            {
                <div id="instrlistdetail">
                    <div id="instrlistitem">
                        <div>
                            <div>
                                <label class="@inst.StatusCssClassId">
                                    @(inst.ShowPrice ? inst.Price : inst.Status)
                                </label>
                            </div>
                            <a id="@string.Format("img_{0}", @inst.DefaultPhotoId)" href="javascript:;">
                                <img id="@inst.DefaultPhotoId" class="instrlistdefaultphoto" src=@Url.Action("GetListPhoto", "Instrument", new { id = inst.DefaultPhotoId }) alt="" />
                            </a>
                            <div id="instrlistinfomodel">
                                @inst.ModelSn
                                <label id="instrlistinfonotposted">
                                    @inst.NotPostedMessage
                                </label>
                            </div>
                            <div id="instrlistinfodetail">
                                @inst.Classification / @inst.SubClassification
                            </div>
                            <div class="instrlistviewdetailslink">
                                @Html.ActionLinkAuthorized("Edit", "Edit", new { id = inst.ProductId })
                                @Html.ActionLinkAuthorized("Delete", "Delete", new { id = inst.ProductId })
                                @Html.ActionLink((@Request.IsAuthenticated) ? "Photos" : "View Details", "Detail", new { id = inst.ProductId })
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div id='dialog-image-container'></div>
</div>