@using System.Text.RegularExpressions
@using Charltone.UI.ViewModels.Instrument;
@using Charltone.UI.Helpers;

@model InstrumentListViewModel

@{
    ViewBag.Title = "Charltone Instruments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var instrumentList = @Html.Raw(Json.Encode(Model.Instruments));

    $(document).scroll(function(){
        localStorage['page'] = document.URL;
        localStorage['scrollTop'] = $(document).scrollTop();
    });

    $(document).ready(function () {

        if (localStorage['page'] == document.URL) {
            $(document).scrollTop(localStorage['scrollTop']);
        }

        createImageDisplayDialog();

        $("#dialog-image-form").hide();

        function displayImageDialog(imageId) {
            var url = '@Url.Action("GetPhotoJson", "Instrument")';

            $.getJSON(url, { "id": imageId },
                function (data) {
                    var html = '<a id="lnk-dlgimage_' + imageId + '" href="javascript:;"><img id="listdialogimg_' + imageId + '" class="listdialogimg" src="data:image/jpg;base64,' + data + '" /></a>';
                    $("#dialog-image-form").html(html);
                    $("#lnk-dlgimage_" + imageId).click(function () {
                        $("#dialog-image-form").html('');
                        $.unblockUI();
                    });
                });
            $.blockUI({
                message: $("#dialog-image-form"),
                backgroundColor: '#000',
                color: '#000',
                css: {
                    top: 30,
                    width: 0,
                    height: 0
                }
            });
        }

        $(instrumentList).each(function(index, value) {
            if (value.DefaultPhotoId > 0)
            {
                $("#img_" + value.DefaultPhotoId).click(function () {
                    displayImageDialog(value.DefaultPhotoId);
                });
            }
        });

        function createImageDisplayDialog() {
            var html = "<div id='dialog-image-form'></div>";
            $("#dialog-wrapper").append(html);
        }
    });
</script>

<div id="instrlist">
    <div id="instrlistcontent">
        <div id="instrlistheader">
            @Model.Banner
        </div>
        <div class="editlink" id="instrlistaddnew">
            @Html.ActionLinkAuthorized("Add Instrument", "Create")
        </div>
        <div class="linehorizontal" id="instrlistlinehorizontal"></div>
        @{
            foreach (var instrument in Model.Instruments)
            {
                <div id="instrlistdetail">
                    <div id="instrlistitem">
                        <div>
                            <div>
                                <label class="@Regex.Replace(@instrument.Status, @"\s", "").ToLower()">
                                    @(instrument.ShowPrice ? instrument.Price : instrument.Status)
                                </label>
                            </div>
                            <a id="@string.Format("img_{0}", @instrument.DefaultPhotoId)" href="javascript:;">
                                <img id=@instrument.DefaultPhotoId class="instrlistdefaultphoto" src=@Url.Action("GetPhoto", "Instrument", new { id = instrument.DefaultPhotoId }) alt="" />
                            </a>
                            <div id="instrlistinfomodel">
                                @instrument.ModelSn
                                <label id="instrlistinfonotposted">
                                    @instrument.NotPostedMessage
                                </label>
                            </div>
                            <div id="instrlistinfodetail">
                                @instrument.Classification / @instrument.SubClassification
                            </div>
                            <div class="instrlistviewdetailslink">
                                @Html.ActionLinkAuthorized("Edit", "Edit", new { id = instrument.ProductId })
                                @Html.ActionLinkAuthorized("Delete", "Delete", new { id = instrument.ProductId })
                                @Html.ActionLink((@Request.IsAuthenticated) ? "Photos" : "Detail", "Detail", new { id = instrument.ProductId })
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
            }
        }
    </div>
</div>


