@using Charltone.UI.ViewModels.Instrument;

@model InstrumentListViewModel

@{
    ViewBag.Title = "Charltone Instruments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        position.set.init();
    });
</script>

<div id="carousel-container"></div>

<div id="instrlist">
    <div class="container-fluid">
        <div class="row">
            <div id="instrlist-banner" class="col-sm-8">
                <h4>@Model.Banner</h4>
            </div>

            <div class="col-sm-4">
                <span class="pull-right">
                    @if (!Request.IsAuthenticated)
                    {
                        <button class="btn btn-primary btn-sm" type="button" class="slides-link" onclick='javascript:instrument.carousel.show();'>Slide View</button>
                    }
                    else
                    {
                        <button class="btn btn-success btn-sm" type="button" onclick="location.href='@Url.Action("Create", "Instrument")' ">Add</button>
                    }
                </span>
            </div>
        </div>
        @{
            var row = 1;
            var totalrows = Model.Instruments.Count();
            var detailsLabel = Request.IsAuthenticated ? "Photos" : "View Details";

            foreach (var inst in Model.Instruments)
            {
                if (row == 1)
                {
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="linehorizontal"></div>
                        </div>
                    </div>
                }

                var rowClass = (0 == (row % 3) || row == totalrows) ? "row" : null;
                <div class="@rowClass">
                    <div id="instrlist-item" class="col-sm-4">
                        <label class="label label-@inst.StatusCssClass">
                            @(inst.ShowPrice ? inst.Price : inst.Status)
                        </label>
                        @if (!Request.IsAuthenticated)
                        {
                            <a class="link" onclick="location.href='@Url.Action("Detail", "Instrument", new { id = inst.ProductId })'">@detailsLabel</a>
                        }
                        else
                        {
                            <button class="btn btn-info btn-xs" type="button" onclick="location.href='@Url.Action("Detail", "Instrument", new { id = inst.ProductId })'">Photos</button>
                            <button class="btn btn-primary btn-xs" type="button" onclick="location.href='@Url.Action("Edit", "Instrument", new { id = inst.ProductId })'">Edit</button>
                        }
                        <a id="@string.Format("img_{0}", @inst.DefaultPhotoId)" href="@Url.Action("Detail", "Instrument", new { id = @inst.ProductId })">
                            <img class="img-rounded" src=@Url.Action("GetPhoto", "Instrument", new InstrumentPhotoModel {   PhotoId = inst.DefaultPhotoId,
                                                                                                                            Width = Convert.ToInt32(@Model.MaxImageWidth),
                                                                                                                            Height = Convert.ToInt32(@Model.MaxImageHeight)}) alt="" />
                        </a>
                        <h4>@inst.ModelSn</h4>
                        <span>@inst.Classification / @inst.SubClassification</span>
                        <label class="label label-danger">@inst.NotPostedMessage</label>
                    </div>
                </div>

                if ("row" == @rowClass)
                {
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="linehorizontal"></div>
                        </div>
                    </div>
                }
                row++;
            }
        }
    </div>
</div>