@using Charltone.UI.ViewModels.Instrument;
@using Charltone.UI.Helpers;

@model InstrumentListViewModel

@{
    ViewBag.Title = "Charltone Instruments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        zoom.init();
        position.set();
    });
</script>

<div id="instrlist">
    <div id="instrlistcontent">
        <div id="instrlistheader">
            @Model.Banner
        </div>
        <div class="editlink" id="instrlistaddnew">
            @Html.ActionLinkAuthorized("Add Instrument", "Create")
        </div>
        <div class="linehorizontal" id="instrlistlinehorizontal"></div>
        @{
            foreach (var instrument in Model.Instruments)
            {
                <div id="instrlistdetail">
                    <div id="instrlistitem">
                        <div>
                            <div>
                                <label class="@instrument.StatusCssClassId">
                                    @(instrument.ShowPrice ? instrument.Price : instrument.Status)
                                </label>
                            </div>
                            <a id="@string.Format("img_{0}", @instrument.DefaultPhotoId)" href="javascript:;">
                                <img id="@instrument.DefaultPhotoId" class="instrlistdefaultphoto" src=@Url.Action("GetPhoto", "Instrument", new { id = instrument.DefaultPhotoId })     alt="" />
                            </a>
                            <div id="instrlistinfomodel">
                                @instrument.ModelSn
                                <label id="instrlistinfonotposted">
                                    @instrument.NotPostedMessage
                                </label>
                            </div>
                            <div id="instrlistinfodetail">
                                @instrument.Classification / @instrument.SubClassification
                            </div>
                            <div class="instrlistviewdetailslink">
                                @Html.ActionLinkAuthorized("Edit", "Edit", new { id = instrument.ProductId })
                                @Html.ActionLinkAuthorized("Delete", "Delete", new { id = instrument.ProductId })
                                @Html.ActionLink((@Request.IsAuthenticated) ? "Photos" : "Detail", "Detail", new { id = instrument.ProductId })
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
            }
        }
    </div>
    <div id='dialog-image-container'></div>
</div>