@using Charltone.UI.ViewModels.Instrument;
@using Charltone.UI.Helpers;

@model InstrumentListViewModel

@{
    ViewBag.Title = "Charltone Instruments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var instrumentList = @Html.Raw(Json.Encode(Model.Instruments));

    $(document).scroll(function(){
        localStorage['page'] = document.URL;
        localStorage['scrollTop'] = $(document).scrollTop();
    });

    $(document).ready(function () {

        if (localStorage['page'] == document.URL) {
            $(document).scrollTop(localStorage['scrollTop']);
        }

        createImageDisplayDialog();

        $("#dialog-image-form").hide();

        function displayImageDialog(imageId) {
            var url = '@Url.Action("GetPhotoJson", "Instrument")';

            $.getJSON(url, { "id": imageId },
                function (data) {
                    var html = '<a id="lnk-dlgimage_' + imageId + '" href="javascript:;"><img id="listdialogimg_' + imageId + '" class="listdialogimg" src="data:image/jpg;base64,' + data + '" /></a>';
                    $("#dialog-image-form").html(html);
                    $("#lnk-dlgimage_" + imageId).click(function () {
                        $("#dialog-image-form").html('');
                        $.unblockUI();
                    });
                });
            $.blockUI({
                message: $("#dialog-image-form"),
                backgroundColor: '#000',
                color: '#000',
                css: {
                    top: 30,
                    width: 0,
                    height: 0
                }
            });
        }

        $(instrumentList).each(function(index, value) {
            if (value.DefaultPhotoId > 0)
            {
                $("#img_" + value.DefaultPhotoId).click(function () {
                    displayImageDialog(value.DefaultPhotoId);
                });
            }
        });

        function createImageDisplayDialog() {
            var html = "<div id='dialog-image-form'></div>";
            $("#dialog-wrapper").append(html);
        }
    });
</script>

<div id="instrlist" style="height: @Model.BackgroundImageHeight">
    <div id="instrlistcontent">
        <div id="instrlistheader">
            @Model.Banner
        </div>
        <div class="editlink" id="instrlistaddnew">
            @Html.ActionLinkAuthorized("Add Instrument", "Create")
        </div>
        <div class="linehorizontal" id="instrlistlinehorizontal"></div>
        @{
            foreach (var info in Model.Instruments)
            {
                <div id="instrlistdetail">
                    <div class="@info.WrapperClassId">
                        <div class="@info.ClassId">
                            <div>
                                <label id="@info.Status.ClassId">@info.Status.Description</label>
                            </div>
                            <a id="@info.PhotoClassId" href="javascript:;">
                                <img id=@info.DefaultPhotoId class="instrlistdefaultphoto" src=@Url.Action("GetPhoto", "Instrument", new { id = info.DefaultPhotoId }) alt="" />
                            </a>
                            <div id="instrlistinfomodel">
                                @info.Model
                                <label id="instrlistinfonotposted">
                                    @info.NotPostedMessage
                                </label>
                            </div>
                            <div id="instrlistinfodetail">
                                @info.Classification / @info.SubClassification
                            </div>
                            <div class="instrlistviewdetailslink">
                                @Html.ActionLink("View Details", "Detail", new { id = info.ProductId })
                                @Html.ActionLinkAuthorized("Edit", "Edit", new { id = info.ProductId })
                                @Html.ActionLinkAuthorized("Delete", "Delete", new { id = info.ProductId })
                                @Html.ActionLinkAuthorized("Photos", "Photos", new { id = info.ProductId })
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
            }
        }
    </div>
</div>


