@using Charltone.UI.ViewModels.Photo
@model InstrumentPhotosEditViewModel

@{
    ViewBag.Title = "Charltone Photo Management";
}


<script type="text/javascript">
    $(document).ready(function ()
    {
        $('input:file').change(
           function () {
               if ($(this).val()) {
                   $('input:submit').removeAttr('disabled');
               }
           });
        var photoIds = @Html.Raw(Json.Encode(Model.PhotoIds));

        //--- THIS CODE IS DUPLICATED IN INSTRUMENT DETAIL VIEW (BEGIN)
        $(photoIds).each(function (index, value) {
            $("#lnk-show-image_" + value).click(function () {
                showImage(value);
            });
        });

        function showImage(photoId) {
            var url = '@Url.Action("GetPhotoJson", "Instrument")';

            $.getJSON(url, { "id": photoId },
                function (data) {
                    $("#currentphoto").attr('src', 'data:image/jpg;base64,' + data + '');
                });
        }
        //--- THIS CODE IS DUPLICATED IN INSTRUMENT DETAIL VIEW (END)
    });
</script>

<div id="editphotos">
    <div id="editphotoscontent">
        <div class="editlink" id="editphotoslinks">
            @Html.ActionLink("Main List", "Index", "Instrument")
            &nbsp
            @Html.ActionLink("Instrument Detail", "Detail", new { id = @Model.ProductId })
        </div>

        <div id="editphotosheader">
            <div id="editphotosmodel">Manage photos for model</div>
            <div id="editphotosmodeldesc">@Model.Model</div>
        </div>
        <div class="linehorizontal" id="editphotoslinehorizontal"></div>
        <div id="editphotosdetail">

            @using (Html.BeginForm(@Model.ProductId + "/Photo", "Instrument", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                <div id="editphotosupload">
                    <div id="uploadaphoto">Upload a photo</div>
                    <input class="fileinput" type="file" name="file" id="file" />
                    <input type="submit" value="Upload" disabled="disabled" />
                </div>
            }

            @using (Html.BeginForm(@Model.ProductId + "/Photos", "Instrument"))
            {
                <div id="editphotosdefault">
                    <img class="mainphoto" id="currentphoto" src=@Url.Action("GetPhoto", "Instrument", new { id = Model.DefaultPhotoId }) alt='' />
                </div>

                <div id="editphotosmanage">
                    <fieldset class="fieldset">
                        <legend class="legend">Manage</legend>
                        @{
                        var @lnkImageIdDefault = "lnk-show-image_" + @Model.DefaultPhotoId;
                        <a id=@lnkImageIdDefault href="javascript:;">
                            <img class="thumbnail" id="editphotosdefaultthumbnail" src=@Url.Action("GetPhoto", "Instrument", new {id = Model.DefaultPhotoId}) alt='' />
                        </a>
                        }
                        @foreach (var photoId in Model.PhotoIds)
                        {
                            var @lnkImageId = "lnk-show-image_" + photoId;

                            <div id="editphotosthumbnail">

                                @if (photoId != Model.DefaultPhotoId)
                                {
                                    <a id=@lnkImageId href="javascript:;">
                                        <img class="thumbnail" id="editphotosdefaultthumbnail" src=@Url.Action("GetPhoto", "Instrument", new { id = photoId }) alt='' />
                                    </a>

                                    <div>
                                        @{
                                            var defaultName = "SetDefault_" + photoId;
                                            <input type="submit" name=@defaultName value="Default" />
                                            var deleteName = "Delete_" + photoId;
                                            <input type="submit" name=@deleteName value="Delete" />
                                        }
                                    </div>
                                }
                            </div>
                        }
                    </fieldset>
                </div>
            }
        </div>
    </div>
</div>