@model Charltone.UI.ViewModels.Home.ContactViewModel
@{
    ViewBag.Title = "Charltone Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--<script type="text/javascript">
    $(function () {
        $('#contactemailconfirm').hide();
        $('form').submit(function () {
            $('#contactemailconfirm').show('slow');
            $(this).hide('slow');
            return false;
        });
    });
</script>-->

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div id="contact">
    @using (Html.BeginForm())
    {
        <div id="contactmain">
            @Html.ValidationSummary(true)
            <div id="contactheader">
                @Model.HeaderMessage
            </div>
            <div class="linehorizontal" id="contactlinehorizontal"></div>
            <div id="contactinfo">
                <div class="editor-label">
                    @Html.LabelFor(model => model.ContactName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ContactName)
                    @Html.ValidationMessageFor(model => model.ContactName)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.ContactEmail)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ContactEmail)
                    @Html.ValidationMessageFor(model => model.ContactEmail)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.ContactPhone)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ContactPhone)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.ContactMessage)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.ContactMessage)
                </div>
                <div id="contactsend">
                    @{
                        if (Model.ContactName == null)
                        {
                                            <input class="savebutton" type="submit" value="Send" name="Command" />
                        }
                        else
                        {
                                            <input class="savebutton" type="submit" value="Send" name="Command" disabled="disabled"/>
                        }    
                    }
                </div>
            </div>
            <div class="linevertical" id="contactlinevertical"></div>
            <div id="getintouch">
                <div id="getintouchheader">
                    Get in touch
                </div>
                <div>
                    You can also contact us at:
                </div>
                <div id="getintouchemail">
                    Email: kevin@charltone.com
                </div>
                <!--
                <div class="getintouchaddress">
                    Address Line 1
                </div>
                <div class="getintouchaddress">
                    Address Line 2
                </div>
                <div id="getintouchcountry">
                    Canada
                </div>
                -->
            </div>
        </div>
        <div id="contactguitarimg">
        </div>
    }
</div>

<!--<p id="contactemailconfirm">
    We've received your email.  Thank you.
</p>-->