@model Charltone.UI.ViewModels.Contact.ContactViewModel
@{
    ViewBag.Title = "Charltone Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready( function() {
        contact.index.init();
    });
</script>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class="form-group", id = "contact-form" }))
    {
        <div id="contact">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>@Model.HeaderMessage</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="linehorizontal"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7">
                        <div class="pull-left">
                            <button class="btn btn-primary @(Model.ContactName != null ? "disabled" : null)" type="submit">Send</button>
                        </div>
                        <div class="pull-left">
                            <div class="control-group">
                                @Html.LabelFor(model => model.ContactName, new { @class = "label label-default" })
                                <div class="controls @(Model.ContactName != null ? "disabled" : null)">
                                    @Html.TextBoxFor(model => model.ContactName, new { @class = "form-control", @maxlength = 150, @placeholder = "Enter your name" })
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(model => model.ContactEmail, new { @class = "label label-default" })
                                <div class="controls @(Model.ContactName != null ? "disabled" : null)">
                                    @Html.TextBoxFor(model => model.ContactEmail, new { @class = "form-control", @maxlength = 150, @placeholder = "Enter your email address" })
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(model => model.ContactPhone, new { @class = "label label-default" })
                                <div class="controls @(Model.ContactName != null ? "disabled" : null)">
                                    @Html.TextBoxFor(model => model.ContactPhone, new { @class = "form-control", @maxlength = 150, @placeholder = "Enter your phone number" })
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(model => model.ContactMessage, new { @class = "label label-default" })
                                <div class="controls @(Model.ContactName != null ? "disabled" : null)">
                                    @Html.TextAreaFor(model => model.ContactMessage, new { @class = "form-control", @maxlength = 1000, @placeholder = "Compose your message..." })
                                </div>
                            </div>
                        </div>
                        </div>
                    <div class="col-sm-1">
                        <div class="linevertical"></div>
                    </div>
                    <div class="col-sm-4" id="get-in-touch">
                        <div>
                            <h4>Get in touch</h4>
                        </div>
                        <div>
                            <p>You can also contact us at:</p>
                        </div>
                        <div>
                            <p>Email: kevin@charltone.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
